*{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-width: 1200px;
  }

body{
    background: #F3ECE9;

}
header{
    max-width: var(--main-width);
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


header h1{
    display: inline;
    margin-right: 300px;
    margin-left: 70px;

}

.open{
    display: flex !important;
}

header li{
    list-style-type: none;
    cursor: pointer;
    display: flex;
    margin-left: 50px;
}

header a{
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    
}
header a {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  header  a::before,
  header a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  header  a::before {
    background-color: #000000;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  header a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #000000;
  }
  
  header a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  header a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  header  a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  header  a:hover span {
    transform: translate3d(-200%, 0, 0);
  }

.h_ul{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger{
    display: none;
    position: relative;
    z-index: 51;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color:#000;
}

.burger::before, .burger::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color:#000;
    transition: all 0.3s ease 0s;
}
.burger::before{
    top: 0;
}
.burger::after{
    bottom:0;
}
.burger.active span{
    transform: scale(0);
}

.burger.active::before{
    top:50%;
    transform: rotate(-45deg) translate(0,-50%);
}

.burger.active::after{
    bottom:50%;
    transform: rotate(45deg) translate(0,50%);
}



.circle img {
    margin: 0 auto;
    width: 70px; 
    height: 70px;
    object-fit: cover;
}
.circle{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}
.about{
    max-width: var(--main-width);
    margin: 0px auto;
    margin-top: 140px;
    display: flex;
}
.about__images img{
    width: 350px;
    justify-self: center;
    border-radius: 15px;
    background-size: cover;
    order: 1;
    animation: img_animate 6s ease-in-out infinite 1s;
}


@keyframes img_animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
    
}

.about__images{
    display: inline;
    margin: 60px 80px 0px 80px;
}

.about__text{
    display: inline;
    margin: 0px 0px 0px 100px;
}
.about__text h1{
    margin-bottom: 10px;
    font-size: 50px;
}
.about__text h3{
    margin-bottom: 10px;
    font-size: 30px;
    color: rgba(152, 152, 152, 0.897);
}
.about__text a{
    color: #000;
}
.about__text p{
    font-size: 25px;
    width: 520px;
}
.images__scroll{
    margin-bottom: 250px;
}

.images__scroll img{
    width: 100px;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    animation: jump .7s linear alternate infinite;
}

@keyframes jump {
    0%   {transform: translate3d(0,0,0)}
    40%  {transform: translate3d(0,10%,0)}
    100% {transform: translate3d(0,50%,0)}
  }

.stack__container{


}
.top__burger {
    position: relative;
    top: 400px;
}

.stack{
    max-width: var(--main-width);
    margin: 0px auto;
    margin-top: 100px;
    display:flex;
    flex-direction: column
}

.stack__title h1{
    font-size: 40px;
    margin-bottom: 100px;
}
.stack__title{
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card__background img{
    filter: invert(0.1);
    width: 250px;
    height: 200px;
    
}
.card__wrapper{
    display: inline-flex;
    position: relative;
}

.stackcard__web{
    width: 500px;
    height: 320px;
    background: rgb(25, 25, 25);
    background-image:linear-gradient(rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.021)),
    url(/Portfolio/image/Grid_3.png);
    background-size: cover;
    border-radius: 20px;
    margin-right: 200px;
}

.stackcard__other{
    width: 500px;
    height: 320px;
    background: rgb(25, 25, 25);
    background-image:linear-gradient(rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.021)),
    url(/Portfolio/image/Grid_3.png);
    background-size: cover;
    border-radius: 20px
}

.stackcard__web:hover,.stackcard__other:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.551);
}

.stackcard__web h3{
    color:#F3ECE9;
    font-size:30px;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px 0px 10px 0px;
}

.stackcard__other h3{
    color:#F3ECE9;
    font-size:30px;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px 0px 10px 0px;
}

.stackcard__web li, .stackcard__other li{
    list-style-type: none;
    color: #F3ECE9;
    font-size: 25px;
    margin-left: 20px;
}

.checkmark{
    width: 30px;
    filter: invert(1);
    position: relative;
    top: 6px;
}

.work__container{
    max-width: var(--main-width);
    margin: 0px auto;
    margin-top: 100px;
    display:flex;
    flex-direction: column

}
.card-container {
    perspective: 50em;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 60px;}
    .card:nth-child(1) {
      --bi: repeating-linear-gradient(30deg, #111 0 0.25em, #333 0 1em);
    }
    .card:nth-child(2) {
      --bi: linear-gradient(#555 5em, #0000 3em),
        linear-gradient(60deg, #880e4f, #1a237e);
    }
  
  
  .card {
    position: relative;
    width: 507px;
    height: 583px;
    padding: 20px;
    color: #fff;
    transform: rotateY(30deg) rotateX(15deg);
    transform-style: preserve-3d;
    transition: transform 1s;
  
    &:hover {
      transform: rotateY(4deg) rotateX(4deg);
    }
  }
  
  .layers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }
  
  .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background-image: var(--bi);
    transform: translateZ(var(--tz));
    box-shadow: 0 0 0.5em #000d inset;
  
    .layer:last-child {
      box-shadow: 0 0 0.5em #000d inset, 0 0 5px #000;
    }
  }

  .card button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border-color: #F3ECE9;
    background:#0000000b;
    margin: 12px;
  }
  .button__card a{
    color:#F3ECE9;
    text-decoration: none;
    border: 2px solid white;
    padding: 15px;
    border-radius: 15px;
    border-color: #F3ECE9;
    background:#0000000b;
  }
  .card a{
    color: white;

  }
  .clickerM{
    margin-top: 80px;
  }

  .button__card{
    width: 467px;
    display: inline-flex;
    position: relative;
    justify-content: space-evenly;
}

  .card a:hover{
    background:#F3ECE9;
    color:rgb(25, 25, 25);
    border-color: rgb(25, 25, 25);
  }
  
  .card p{
    margin-bottom: 40px;
  }

  .card img{
    width: 400px;
    height: 170px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    margin: 0px auto;
  }

  .card h3{
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    
  }
  
  .work__title{
    position: relative;
    margin: 0 auto;
  }

  .work__title h1{
    font-size: 40px;
    margin-bottom: 80px; 
  }
  .card__wraper{
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .slider__wrapper{
    max-width: var(--main-width);
    margin: 0 auto;
    margin-top: 50px;
  }
  .info__wrapper{
    max-width: var(--main-width);
    margin: 0 auto;
    margin-top: 50px;
  }
  .swiper-button-next, .swiper-button-prev {
  
    color: black;
}

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background:#F3ECE9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .line {
    border-bottom: 2px solid black; 
    width: 80%;
    margin: 0 auto;
   }

  .contact__wrapper{
    max-width: var(--main-width);
    margin: 0 auto;
    margin-top: 200px;
  }

  .contact__text {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact__text h1{
    margin-bottom: 50px;
  }
  .contact__text p{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .contact ul{
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contact li{
    list-style-type: none;
    display:inline;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .contact a{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }


@media all and (min-width: 1024px) and (max-width: 1280px) { 
    :root {
        --main-width: 1280px;
      }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    :root {
        --main-width: 1024;
      }
      .burger{
        display: flex;
      }
      header h1{
        display: none;
      }
      .nav{
        display: none;
        z-index: 50;
        flex-direction: column;
        position: fixed;
        width: 92vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: -10px;
        right: 30px;
        z-index: 50;
        padding: 50px 40px;
        background: #F3ECE9;
        animation: burgerAnimation 0.4s;
        margin-bottom: 500px;
      }
      .nav ul{
        flex-direction: column;
    
      }
      @keyframes burgerAnimation {
        from{opacity: 0}
        to {opacity: 1}
      }
      .about{
        max-width: var(--main-width);
        margin: 0px auto;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        }
        .about__text {
            display: inline;
            margin: 0px 50px 0px 50px;
        }
        .about__text h1{
            font-size: 50px;
        }
        .about__text p{
            font-size: 30px;
        }
        .about__images img {
            width: 300px;
        }
        .card__wrapper {
            display: inline-flex;
            position: relative;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: flex-start;
        }
        .stackcard__web {
            width: 450px;
            margin: 0px auto;
            margin-bottom: 20px;
        }
        .stackcard__other {
            width: 450px;
            margin: 0px auto;
        }
        .stack__title h1 {
            font-size: 40px;
            margin-bottom: 50px;
        }
        .images__scroll {
            margin-bottom: 100px;
        }
        .contact ul {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .contact__text p {
            font-size: 20px;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
        }
 }

@media all and (min-width: 480px) and (max-width: 768px) {
    :root {
        --main-width: 768px;
      }
      .burger{
        display: flex;
      }
      header h1{
        display: none;
      }
      
      .nav{
        display: none;
        z-index: 50;
        flex-direction: column;
        position: fixed;
        width: 92vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: -10px;
        right: 30px;
        z-index: 50;
        padding: 50px 40px;
        background: #F3ECE9;
        animation: burgerAnimation 0.4s;
        margin-bottom: 500px;
      }
      .nav ul{
        flex-direction: column;
    
      }
      @keyframes burgerAnimation {
        from{opacity: 0}
        to {opacity: 1}
      }
    
      .about{
        max-width: var(--main-width);
        margin: 0px auto;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        }
        .about__text {
            display: inline;
            margin: 0px 50px 0px 50px;
        }
        .about__text h1{
            font-size: 50px;
        }
        .about__text p{
            font-size: 20px;
        }
        .about__images img {
            width: 200px;
        }
        .card__wrapper {
            display: inline-flex;
            position: relative;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: flex-start;
        }
        .stackcard__web {
            width: 450px;
            margin: 0px auto;
            margin-bottom: 20px;
        }
        .stackcard__other {
            width: 450px;
            margin: 0px auto;
        }
        .stack__title h1 {
            font-size: 40px;
            margin-bottom: 50px;
        }
        .images__scroll {
            margin-bottom: 100px;
        }
        .contact ul {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .contact__text p {
            font-size: 20px;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
        }
 }

@media all and (max-width: 480px) { 
    :root {
        --main-width: 480px;
      }

      .burger{
        display: flex;
      }
      header h1{
        display: none;
      }
      .nav{
        display: none;
        z-index: 50;
        flex-direction: column;
        position: fixed;
        width: 92vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: -10px;
        right: 30px;
        z-index: 50;
        padding: 50px 40px;
        background: #F3ECE9;
        animation: burgerAnimation 0.4s;
        margin-bottom: 500px;
      }
      .nav ul{
        flex-direction: column;
    
      }
      @keyframes burgerAnimation {
        from{opacity: 0}
        to {opacity: 1}
      }
    .about{
    max-width: var(--main-width);
    margin: 0px auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    }
    .about__text {
        display: inline;
        margin: 0px 20px 0px 20px;
    }
    .about__text h1{
        font-size: 35px;
    }
    .about__text p{
        font-size: 20px;
    }
    .about__images img {
        width: 200px;
    }
    .card__wrapper {
        display: inline-flex;
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
    }
    .stackcard__web {
        width: 250px;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    .stackcard__other {
        width: 250px;
        margin: 0px auto;
    }
    .stack__title h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .images__scroll {
        margin-bottom: 100px;
    }
    .contact ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact__text p {
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card {
        position: relative;
        width: 300px;
        height: 583px;
        padding: 20px;
        color: #fff;
        transform: rotateY(30deg) rotateX(15deg);
        transform-style: preserve-3d;
        transition: transform 1s;
    }
    .card-container {
        margin-left: 10px;
    }
    .card img {
        width: 260px;
        height: 150px;
        object-fit: cover;
        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        margin: 0px auto;
    }
    .button__card {
        width: 260px;

    }
}

@media all and (max-width: 380px) { 
    :root {
        --main-width: 480px;
      }

      .burger{
        display: flex;
      }
      header h1{
        display: none;
      }
      .nav{
        display: none;
        z-index: 50;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: -25px;
        right: 30px;
        z-index: 50;
        padding: 50px 40px;
        background: #F3ECE9;
        animation: burgerAnimation 0.4s;
        margin-bottom: 500px;
      }
      .nav ul{
        flex-direction: column;
    
      }
      @keyframes burgerAnimation {
        from{opacity: 0}
        to {opacity: 1}
      }
    .about{
    max-width: var(--main-width);
    margin: 0px auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    }
    .about__text {
        display: inline;
        margin: 0px 20px 0px 20px;
    }
    .about__text h1{
        font-size: 35px;
    }
    .about__text p{
        font-size: 20px;
    }
    .about__images img {
        width: 200px;
    }
    .card__wrapper {
        display: inline-flex;
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
    }
    .stackcard__web {
        width: 250px;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    .stackcard__other {
        width: 250px;
        margin: 0px auto;
    }
    .stack__title h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .images__scroll {
        margin-bottom: 100px;
    }
    .contact ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact__text p {
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card {
        position: relative;
        width: 300px;
        height: 583px;
        padding: 20px;
        color: #fff;
        transform: rotateY(30deg) rotateX(15deg);
        transform-style: preserve-3d;
        transition: transform 1s;
    }
    .card-container {
        margin-left: 10px;
    }
    .card img {
        width: 260px;
        height: 150px;
        object-fit: cover;
        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        margin: 0px auto;
    }
    .button__card {
        width: 260px;

    }
}

@media all and (max-width: 320px) { 
    :root {
        --main-width: 480px;
      }

      .burger{
        display: flex;
      }
      header h1{
        display: none;
      }
      .nav{
        display: none;
        z-index: 50;
        flex-direction: column;
        position: fixed;
        width: 120vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: -60px;
        right: 30px;
        z-index: 50;
        padding: 50px 40px;
        background: #F3ECE9;
        animation: burgerAnimation 0.4s;
        margin-bottom: 500px;
      }
      .nav ul{
        flex-direction: column;
    
      }
      @keyframes burgerAnimation {
        from{opacity: 0}
        to {opacity: 1}
      }
    .about{
    max-width: var(--main-width);
    margin: 0px auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    }
    .about__text {
        display: inline;
        margin: 0px 20px 0px 20px;
    }
    .about__text h1{
        font-size: 35px;
    }
    .about__text p{
        font-size: 20px;
    }
    .about__images img {
        width: 200px;
    }
    .card__wrapper {
        display: inline-flex;
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
    }
    .stackcard__web {
        width: 250px;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    .stackcard__other {
        width: 250px;
        margin: 0px auto;
    }
    .stack__title h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .images__scroll {
        margin-bottom: 100px;
    }
    .contact ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact__text p {
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card {
        position: relative;
        width: 300px;
        height: 583px;
        padding: 20px;
        color: #fff;
        transform: rotateY(30deg) rotateX(15deg);
        transform-style: preserve-3d;
        transition: transform 1s;
    }
    .card-container {
        margin-left: 10px;
    }
    .card img {
        width: 260px;
        height: 150px;
        object-fit: cover;
        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        margin: 0px auto;
    }
    .button__card {
        width: 260px;

    }
}

@media all and (max-width: 200px) { 
    :root {
        --main-width: 150px;
      }

      .burger{
        display: flex;
      }
      header h1{
        display: none;
      }
      .nav{
        display: none;
        z-index: 50;
        flex-direction: column;
        position: fixed;
        width: 120vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: -60px;
        right: 30px;
        z-index: 50;
        padding: 50px 40px;
        background: #F3ECE9;
        animation: burgerAnimation 0.4s;
        margin-bottom: 500px;
      }
      .nav ul{
        flex-direction: column;
    
      }
      @keyframes burgerAnimation {
        from{opacity: 0}
        to {opacity: 1}
      }
    .about{
    max-width: var(--main-width);
    margin: 0px auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    }
    .about__text {
        display: inline;
        margin: 0px 20px 0px 20px;
    }
    .about__text h1{
        font-size: 10px;
    }
    .about__text p{
        font-size: 10px;
    }
    .about__images img {
        width: 50px;
    }
    .card__wrapper {
        display: inline-flex;
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
    }
    .stackcard__web {
        width: 250px;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    .stackcard__other {
        width: 250px;
        margin: 0px auto;
    }
    .stack__title h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .images__scroll {
        margin-bottom: 100px;
    }
    .contact ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact__text p {
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card {
        position: relative;
        width: 300px;
        height: 583px;
        padding: 20px;
        color: #fff;
        transform: rotateY(30deg) rotateX(15deg);
        transform-style: preserve-3d;
        transition: transform 1s;
    }
    .card-container {
        margin-left: 10px;
    }
    .card img {
        width: 260px;
        height: 150px;
        object-fit: cover;
        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        margin: 0px auto;
    }
    .button__card {
        width: 260px;

    }
}



